Import google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [5]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [9]:
df =pd.read_csv("/content/drive/MyDrive/Colab Notebooks/AnaÃÅlise de dados com Python e Pandas| Bootcamp Unimed/gapminder.csv",error_bad_lines=False, sep=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
df=df.rename(columns={"country":"Pais","continent":"Continente","year":"Ano","lifeExp":"Expectativa de vida", "pop":"Pop Total","gdpPercap":"PIB"})
df.head()

          Pais Continente   Ano  Expectativa de vida  Pop Total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [44]:
df.shape

(1704, 6)

In [45]:
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
Pop Total                int64
PIB                    float64
dtype: object

In [49]:
df["PIB"].describe()

count      1704.000000
mean       7215.327081
std        9857.454543
min         241.165876
25%        1202.060309
50%        3531.846988
75%        9325.462346
max      113523.132900
Name: PIB, dtype: float64

Verificando nulos

In [50]:
df.isnull().sum()

Pais                   0
Continente             0
Ano                    0
Expectativa de vida    0
Pop Total              0
PIB                    0
dtype: int64

In [56]:
df.groupby("Continente")["Expectativa de vida"].mean()

Continente
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: Expectativa de vida, dtype: float64